<div class="bgimg">
  <br>
  <div >
  <div class="container"  style="max-width:9999px; padding-left:600px ; padding-top: 40px;" >
    <h2 class="textual">Register Here!!</h2>
    
    <form #Registerformform = "ngForm" (ngSubmit) = "registerUser()">
       
  
      <div class="form-group">
        <label for="p_name">Name:</label>
        <input type="p_name" class="form-control"  placeholder="Enter name" name="Name" [(ngModel)] ="newUser.p_name" #p_name ="ngModel" required
              [class.is-invalid]="p_name.invalid && p_name.touched">
              <!-- <small class="text-danger"  [class.d-none]= "p_name.valid || p_name.untouched"></small> -->
      </div>
  
    
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" class="form-control"  placeholder="Enter User name " name="username" [(ngModel)] ="newUser.username" #username ="ngModel" required
            [class.is-invalid]="username.invalid && username.touched">
            <!-- <small class="text-danger"  [class.d-none]= "username.valid || username.untouched">User Name is required field</small> -->
    </div>
  
  <div class="form-group">
      <label for="p_gender">Gender:</label>
      <select id="p_gender"  [(ngModel)] ="newUser.p_gender"  name="p_gender">
        <option value="Male ">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
  </div>
  
    
  
  
  
    <div class="form-group">
      <label for="p_contact_no">Contact number:</label>
      <input type="tel" class="form-control"  placeholder="Enter your mobile number " pattern="[6-9]{1}[0-9]{9}"  minlength="10" maxlength="10" name="p_contact_no" [(ngModel)] ="newUser.p_contact_no" #p_contact_no ="ngModel" required
            [class.is-invalid]="p_contact_no.invalid && p_contact_no.touched">
  
           <div *ngIf="p_contact_no.errors && (p_contact_no.invalid && p_contact_no.touched)"><br>
  
                <div  class="text-danger"  [hidden]="!p_contact_no.errors['pattern']">
                  Please input  valid mobile number.
                </div>
                <div   class="text-danger" [hidden]="!p_contact_no.errors['required']">
                  Mobile number is required
               </div>
  
  
      </div>
    </div>
  
  
  
  
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control"  placeholder="Enter password" minlength="8" maxlength="16" name="pwd" [(ngModel)] ="newUser.password" #password ="ngModel" required
              [class.is-invalid]="password.invalid && password.touched">
              <!-- <small class="text-danger"  [class.d-none]= "password.valid || password.untouched">Password is required field, Password length should be min 8 or max 16 and special characters like @#$%^</small> -->
      </div>
  
      <div class="form-group">
        <label for="pwd">Confirm password:</label>
        <input type="password" class="form-control"  placeholder="Enter confirm password"  minlength="8" maxlength="16" name="cpwd" (ngModel) ="newUser.password" #cpwd ="ngModel" required
              [class.is-invalid]="cpwd.invalid && cpwd.touched">
              <!-- <small class="text-danger"  [class.d-none]= "(cpwd.value == password.value) || cpwd.untouched">Password and confirm password should be same </small> -->
      </div>
  
  
  
  
      <button [disabled]="Registerformform.form.invalid" type="submit" class="btn btn-info" style="font-size:medium;">Register</button><br>
      <small class="float-right btextual" >Existing user ?<a [routerLink]="['/patient']">Login here</a> </small>
    </form>
  </div>
  </div>