  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
  /* .bgimage{
    background-image: url("https://images.designtrends.com/wp-content/uploads/2015/11/30171407/3D-Plan-HD-Background1.jpg");
    background-size: cover;
} */
.patient-dp {
width: 100%;
padding-left: 25px;
padding-right: 25px;
height: 180px;
border-radius: 50%;
}
.container{
    margin-top: 15px;
    
}
.customDiv {
    padding: 8px;
    margin: 5%;
    background-color: #26a85ad7;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
  }
  
  .doc-btn{
      font-size: larger;
     font-weight: bold;
      text-decoration: none;
      color: black;

  }
  


.main-header-1 {
    background-color: #020303dc
    /* background-color: #f1ddc0; */
}
.logo {
    font-weight: bold;
    color: white;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    left: 20%;
    line-height: 38px;
}
.main-header-1 > div {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}
.navigation {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 8px;
    z-index: 1;
    display: inline-block;
    text-align: right;
    width: fit-content;
    margin-left: 82%;
    
}
.main-items{
    font-size: 14pt;
    font-weight: bold;
    line-height: 38px;
    
}
.navigation > a {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    font-weight: 900;
    color: whitesmoke;
}
.content {
    width: 100%;
    height: 540px;
    background-size: cover;
}
.head1 {
    position: relative;
    top: 45%;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 30pt;
    font-weight: 800;
}
.amenities {
    height: 300px;
    position: relative;
    top: 5%;
    background-color: beige;
}
.ul-list1 {
    text-align: center;
    list-style: none;
    width: auto; 
    background-color: beige;
    background-position: center;
}
.para1{
    text-align: center;
}