<nav class="header1">
  <div class="column">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="navigation">
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">Admin</a>&nbsp;
      <a routerLink="/doctor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">Doctor</a>&nbsp;
      <a routerLink="/patient" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">Patient</a>&nbsp;
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">About Us</a>&nbsp;
      <a routerLink="/feedback" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">Feedback</a>&nbsp;
      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item1">Contact Us</a>
  </div>
 </div>
</nav>

<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
  

    
</div>

