<!DOCTYPE html>
<html>
  <head>
    <title>The title of the document</title>
  </head>
  <body>
      <div class="coledit">
    <div class="container">
      <div class="image">
        <img src="assets/images/pledge.jpeg">
      </div>
      <div class="text">
          <h3>OUR PLEDGE</h3>
        <P>We believe life deserves to be cherished
            Every moment filled with joy
            Every step well-lived.
            
            We believe life, when interrupted by ill health, deserves only the best quality of care
            Every man, woman, and child treated with compassion
            Every illness managed with uncompromising dedication
            
            We are Sir H. N. Reliance Foundation Hospital and Research Centre
            And we believe every life deserves respect</P>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="image1">
          <img src="assets/images/hospital.jpg">
        </div>
        <div class="text1">
            <h3>THE HOSPITAl</h3>
          <P>
            From its physical design to its daily functioning, Sir H. N. Reliance Foundation Hospital and Research Centre is "Patient and Family Centric". All the rooms in this  multi-Speciality tertiary care hospital have direct sunlight – a very important aspect of patient care, and in keeping with our directive: Respect for Life.
            
            The Tower</P>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="image1">
          <img src="assets/images/respect.jpeg">
        </div>
        <div class="text1">
            <h3>RESPECT FOR LIFE</h3>
          <P>Derived from Sanskrit, Namaste means
            "bowing to you".
            It conveys politeness, courtesy, honour,
            and hospitality, from one person to the other.
            
            Welcome to Sir H. N. Reliance Foundation
            Hospital and Research Centre:
            an institution that promotes health and
            healing with compassion and respect.
            </P>
        </div>
      </div>
      </div>
  </body>
</html>