<!-- <div class="footer">
    <div class="foot">
      <i class="fas fa-map-marker-alt"></i><strong>&nbsp;&nbsp;Address</strong><br>
      
      <p class="para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, hic.
      </p>
      <br />
      <i class="fas fa-phone">&nbsp;Contact</i><br>
      <p class="para">8551945589</p>
    </div>
  
    <div class="foot">
      <h4>Some Testimonials</h4>
      
      <p class="para">
        They provided very accurate diagnosis.<br /> - Chandrika Kumari<br /><br>
        The Doctors are very experienced and understanding.<br /> -Tia Gohil<br /><br>
        Excellent attention to every detail in diagnosis and caring staff.<br /> - Divya Baug<br /><br>
        
      </p>
    </div>
     <div class="foot">
      <h4>Quick links</h4>
      <ul style="list-style: none">
        <li class="lis-item"><a href="#">OPD Schedule</a></li>
        <li class="lis-item"><a href="#">Events / News</a></li>
        <li class="lis-item"><a href="#">Photo</a></li>
        <li class="lis-item"><a href="#">Gallery</a></li>
        <li class="lis-item"><a href="#">Video</a></li>
        <li class="lis-item"><a href="#">Site Map</a></li>
        <li class="lis-item"><a href="#">Disclaimer</a></li>
      </ul>
    </div> 
  </div>
  <div style="background-color: lightgray;">
    <p style="line-height: 50px;" class="foot1">&copy; Indian Hospital | &nbsp;All Rights Reserved.</p>
    <p style="line-height: 50px;" class="foot2"></p>
  </div> -->