<h2>Discharge List </h2><a href="doctor-home"><h3>GoBack</h3></a>

<div class="bgimage" style="width: 100%; height: 696.5px;">
<table class="table table-stripped">
    <thead>
        <tr>
            <th>id</th>
            <th>patientname</th>
            <th>doctorname</th>
            <th>Discharged_date</th>
            <th>Discharged_time</th>
            <th>Disease</th>
           
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let dischargedpatient of dischargedpatient">
            <td>{{dischargedpatient.d_id}}</td>
            <td>{{dischargedpatient.p_name}}</td>
            <td>{{dischargedpatient.d_name}}</td>
            <td>{{dischargedpatient.d_date}}</td>
            <td>{{dischargedpatient.d_time}}</td>
             <td>{{dischargedpatient.disease}}</td>
           
        </tr>
    </tbody>

</table>
</div>


