<div class="bg">
<div class="container" style="max-width: 600px; padding-top: 150px; margin-left: 30px;">
    <h2 class="textual"><b>Admin signup</b></h2>
    <form #Registerform="ngForm" class="form-group" (ngSubmit)="registerAdmin()">
       <!-- <small [class.text-danger]{{msg.message}}</small> -->
        <div class="form-group">
        <label for="email"><b>Email:</b></label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  [(ngModel)]="admin.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        #email="ngModel" 
        [class.is-invalid]="email.invalid && email.touched">
       <small class="text-danger"[class.d-none]="email.valid || email.untouched">Email Id is required field</small> 
      </div>

      <div class="form-group">
        <label for="usn"><b>username:</b></label>
        <input type="text" class="form-control"  placeholder="Enter username" minlength="8" maxlength="16" name="usn"  [(ngModel)] ="admin.userName" #username ="ngModel" required
              [class.is-invalid]="username.invalid && username.touched">
              <br>
  
              <small class="text-danger"  [class.d-none]= "username.valid || username.untouched">username is required field, Password length should be min 8 or max16 </small>
      </div>
    
    <!-- <div class="form-group">
      <label for="username">username:</label>
      <input type="text" class="form-control"  placeholder="Enter your area username " minLength="5" maxLength="7" name="username" [(ngModel)] ="admin.userName" #pincode ="ngModel" required
            [class.is-invalid]="username.invalid && username.touched">
            <small class="text-danger"  [class.d-none]= "username.valid || username.untouched"> username is required field</small>
    </div> -->
      
      <div class="form-group">
        <label for="pwd"><b>Password:</b></label>
        <input type="password" class="form-control"  placeholder="Enter password" minlength="8" maxlength="16" name="pwd"  [(ngModel)] ="admin.password" #password ="ngModel" required
              [class.is-invalid]="password.invalid && password.touched">
              <br>
  
              <small class="text-danger"  [class.d-none]= "password.valid || password.untouched">Password is required field, Password length should be min 8 or max16 </small>
      </div>
  
      <div class="form-group">
        <label for="pwd"><b>Confirm password:</b></label>
        <input type="password" class="form-control"  placeholder="Enter confirm password"  minlength="8" maxlength="16" name="cpwd" (ngModel) ="admin.password" #cpwd ="ngModel" required
              [class.is-invalid]="cpwd.invalid && cpwd.touched">
              <small class="text-danger"  [class.d-none]= "(cpwd.value == password.value) || cpwd.untouched">Password and confirm password should be same </small>
      </div>
      <br>
      <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info " >Register</button>
    
  </form>

</div>
</div>