<body>

    <div class="about-section">
      <h1>contact us </h1>
      <img src="/assets/images/contactus.jpg" style="width:30%">
  
    
    </div>
    
    <h2 style="text-align:center"></h2>
    <div class="row">
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h3>Mr. Saurabh Nare</h3><br>
            <h3>Mr. Pankaj Palve </h3>
            <p class="title">Help and Support Team</p>
           
            <p>saurabh123@gmail.com,pankaj@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          
          <div class="container">
            <h2>
                Adrress 1:

            </h2>
            <p>
                Ozone Hospital<br>
                colony no.5, lane 3, valsad, gujarat, 784455
            </p>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
         
          <div class="container">
            <h2>
                Adrress 2:

            </h2>
            <p>
                Ozone Hospital<br>
                colony no.2, lane 3, andheri , mumbai, 334455
            </p>

          </div>
        </div>
      </div>
    </div>
    
    </body>