<br><br><p class="h1" style="text-align: center; font-size: 50px;">Welcome to Ozone Hospital </p>


<div class="bgimage">
    
    <div class="all">
    <div class="admin" >
   <a (click)="admin()"><img src="/assets/images/admin.jpeg" height="350px" width="300px" alt="admin img"></a>
    

    
    </div>

     <div class="doctor" >
        <a (click)="doctor()"><img src="/assets/images/doctor.jpeg" height="350px" width="300px" alt="admin img"></a>
       </div> 
        
       <div class="patient" >
        <a (click)="patient()"><img src="/assets/images/patient.jpeg" height="350px" width="300px" alt="admin img"></a>
       </div> 
    </div>

  </div>  
<app-footer></app-footer>
